html,
body {
  margin: 0;
}

#logo {
  cursor: pointer;
  margin-left: 7.5%;
  margin-right: 7.5%;
  display: inline-block;
  width: 10%;
  height: auto;
}

#logo:hover {
  transform: scale(1.03);
  transition-duration: 0.3s;
}

button {
  font-family: "Montserrat", sans-serif;
  width: 8%;
  height: 5%;
  cursor: pointer;
  background-color: #6969B3;
  color: #F4FDF1;
  font-size: 1.5em;
  border: 0px;
}

button:hover {
  transition-duration: 0.3s;
  font-weight: 500;
  color: #FFF766;
  transform: scale(1.02);
  border-bottom: 10px black;
}

body {
  background-color: #F4FDF1;
}

#navbar {
  display: block;
  width: 100%;
  margin-top: 0%;
  height: 6.5em;
  background-color: #6969B3;
}

#buttonsnavbar  {
}

#buttonsleft {
  display: inline;
  margin-left: 12.5%;
}

#buttonsright {
  display: inline;
  margin-right: 10.5%;
}

#footerline {
  margin-left: 9.5%;
  margin-right: 9.5%;
  height: 2px;
  width: 80%;
  background-color: #6969B3;
  margin-left: 10%; 
  margin-right: 10%;
}

.mediabuttons {
background-color: #F4FDF1;
height: auto;
width: 8%;
display: inline-block;
margin-bottom: 1%;
}

#socialmedia {
  margin-left: 29%;
  margin-right: 29%;
  display: inline;
  /*margin-bottom: 10%; */
}

.Slideshow {
  display:none;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 9%;
  width: 80%;
  height: auto;
}

.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:1em;width:1em;padding:0;}
.w3-left, .w3-right {font-size: 2em;margin-top:-0.8em;}

.mediapic {
  width: 3em;
  height: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #6969B3;
  padding: 5px;
}
.grid-item {
  background-color: #F4FDF1;
  border: 0.5px solid rgba(0, 0, 0, 0.8);
  padding: 50px;
  font-size: 30px;
  text-align: center;
}