html,
body {
  margin: 0;
}

#logo {
  cursor: pointer;
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-top: 0%;
  margin-bottom: -2%;
  display: inline-block;
  width: 10%;
  height: 100%;
}

#logo:hover {
  transform: scale(1.03);
  transition-duration: 0.3s;
}

button {
  font-family: "Montserrat", sans-serif;
  width: 8%;
  height: 5%;
  cursor: pointer;
  background-color: #6969B3;
  color: #F4FDF1;
  font-size: 1.4rem;
  border: 0px;
}

button:hover {
  transition-duration: 0.3s;
  font-weight: 500;
  color: #FFD23F;
  transform: scale(1.02);
  border-bottom: 10px black;
}

body {
  background-color: #F4FDF1;
}

#navbar {
  display: block;
  width: 100%;
  margin-left: 0%;
  margin-top: -0.2%;
  height: 6.5em;
  background-color: #6969B3;
}

#buttonsleft {
  display: inline;
  margin-left: 12.5%;
}

#buttonsright {
  display: inline;
  margin-right: 12.5%;
}

#band {
  margin-top: 2%;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  height: auto;
}

#footerline {
  margin-left: 9.5%;
  margin-right: 9.5%;
  height: 1px;
  width: 80%;
  background-color: #6969B3;
  margin-left, margin-right: 10%;
}

.mediabuttons {
background-color: #F4FDF1;
height: 10px;
width: 8%;
display: inline-block;
}

#socialmedia {
  margin-left: 29%;
  margin-right: 29%;
  display: inline;
}
